* {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
	position: relative;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px;
	width: calc(230px - 30px);
	height: 100vh;
	background-color: #1F4690;
	color: white;
}

.list-content {
	list-style: none;
	margin-top: 50px;
}

.list-content > li {
	font-size: large;
	font-weight: 500;
	padding-left: 5px;
	cursor: default;
	user-select: none;
	margin-bottom: 20px;
	transition: all 0.3s linear;
	color: white;
	border-radius: 3px;
}

.list-content > li:hover {
	background-color: white;
}

.list-content > li > a {
	text-decoration: none;
	cursor: default;
	color: white;
	transition: all 0.3s linear;
}

.list-content > li > a:hover {
 color: #1F4690;
}

#content {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	width: calc(100% - 260px);
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
}

#end-points {
	margin-top: 50px;
}

#content > .end-points {
	list-style: none;
	margin-top: 20px;
}

#content > .end-points > li {
	margin-bottom: 20px;
	font-size: large;
}
